In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
import sklearn

In [4]:
df = pd.read_csv('clean_data.csv')
df.shape

(8801, 6)

In [5]:
df.tail()

      bath  balcony   price  total_sqft_int  bhk  price_per_sqft
8796   3.0      2.0  325.00          2900.0    3    11206.896552
8797   3.0      1.0   84.83          1780.0    3     4765.730337
8798   2.0      1.0   48.00           880.0    2     5454.545455
8799   2.0      1.0   55.00          1000.0    2     5500.000000
8800   2.0      1.0   78.00          1400.0    3     5571.428571

In [56]:
df['bath'] = df['bath'].astype(int)

In [57]:
df['balcony'] = df['balcony'].astype(int)

In [58]:
df['total_sqft_int'] = df['total_sqft_int'].astype(int)

In [59]:
df['price_per_sqft'] = df['price_per_sqft'].astype(int)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8801 entries, 0 to 8800
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bath            8801 non-null   int32
 1   balcony         8801 non-null   int32
 2   price           8801 non-null   float64
 3   total_sqft_int  8801 non-null   int32
 4   bhk             8801 non-null   int64
 5   price_per_sqft  8801 non-null   int32
dtypes: float64(1), int32(4), int64(1)
memory usage: 275.2 KB

In [62]:
X = df.drop('price', axis=1)
y = df['price']
print('shape of X = ', X.shape)
print('shape of y = ', y.shape)

shape of X =  (8801, 5)
shape of y =  (8801,)

In [63]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 51)

In [64]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [65]:
from sklearn.metrics import mean_squared_error

In [66]:
def rmse(y_test, y_pred):
    return np.sqrt(mean_squared_error(y_test, y_pred))

In [67]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
rfr.fit(X_train, y_train)
rfr_score = rfr.score(X_test, y_test)
rfr_rmse = rmse(y_test, rfr.predict(X_test))
rfr_score, rfr_rmse

(0.9876461209204823, 8.829084888985863)

In [73]:
def predict_house_price(model,bath,balcony,total_sqft_int,bhk,price_per_sqft):
 
  x =np.zeros(len(X.columns)) # create zero numpy array, len = 107 as input value for model
 
  # adding feature's value accorind to their column index
  x[0]=bath
  x[1]=balcony
  x[2]=total_sqft_int
  x[3]=bhk
  x[4]=price_per_sqft
 
  x = sc.transform([x])[0] # give 2d np array for feature scaling and get 1d scaled np array
  #print(x)
 
  return model.predict([x])[0]

In [74]:
predict_house_price(model=rfr, bath=3,balcony=2,total_sqft_int=1672,bhk=3,price_per_sqft=8971)

149.87

In [75]:
import joblib
joblib.dump(rfr, 'RandomForestRegressionModel.pkl')

['RandomForestRegressionModel.pkl']

In [76]:
RandomForestRegressionModel = joblib.load('RandomForestRegressionModel.pkl')

In [77]:
predict_house_price(RandomForestRegressionModel, bath=3, balcony=3, total_sqft_int=750, bhk=2, price_per_sqft=8514)

60.11359999999998